.app__container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(215, 225, 233);
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 200;
  padding: 5px 10px 0px 10px;
  background-color: rgb(215, 225, 233);
  cursor:default;

  &>h2 {
    border: double #0a2310;
    border-radius: 5px;
    padding-left: 5px;
    margin: 0px;
    color: #0a2310;
  }
}

.chatWindow-home {
  font-style: normal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: small;
  text-align: center;
  color:#ffffff;
  line-height: 20;
}


section {
  padding:4px;
  width:50%;
}

.contactList-container {
  background-color: #F2F2F2;
}

.chatWindow-container {
  background-color: #0a2310;
  color: #F2F2F2;

}